@import (reference) '../../../config/config.less';

.block{
	padding: 10px 5px;
	background-color: lighten(@gray, 10%);
	border-bottom: 1px solid @gray;
}
.title{
	color: darken(@gray, 10%);
	font-size: 18px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}