@import (reference) '../../config/config.less';

.comment{
	width: 100%;
	.main{
		padding: 15px 0;
	}
	.avatar{
		width: 50px;
		height: 50px;
		background-color: @gray;
		border-radius: 50%;
	}
	.username{
		color: @purple;
		font-size: 18px;
		span{
			color: @gray;
			font-size: 14px;
		}
	}
	.context{
		font-size: 12px;
	}
}