@import (reference) '../config/config.less';

:global {
  html, body, #root {
    
  }
  /*字体调整*/
  *{
    -webkit-font-smoothing: antialiased;
  }
  @font-face {
	  font-family: 'iconfont';
	  src: url('//at.alicdn.com/t/font_1471351717_6371713.eot'); /* IE9*/
	  src: url('//at.alicdn.com/t/font_1471351717_6371713.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	  url('//at.alicdn.com/t/font_1471351717_6371713.woff') format('woff'), /* chrome、firefox */
	  url('//at.alicdn.com/t/font_1471351717_6371713.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	  url('//at.alicdn.com/t/font_1471351717_6371713.svg#iconfont') format('svg'); /* iOS 4.1- */
	}
  // 颜色调整
  span[class~="ant-spin-dot"]{
    &:after{
      background-color: @purple;
    }
  }
  li[class~="ant-pagination-item-active"]{
    background-color: @purple;
    border-color: @purple;
  }


}
#root {
  margin: auto;
  padding: 0 15px 0 15px;
}
