<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>idplss</title>
  <link rel="stylesheet" href="http://ocaxzmfrd.bkt.clouddn.com/index.css?fbfc5026fb6a421f9b94" />
</head>
<body>

<div id="root"></div>

<script src="http://ocaxzmfrd.bkt.clouddn.com/common.js?fbfc5026fb6a421f9b94"></script>
<script src="http://ocaxzmfrd.bkt.clouddn.com/index.js?fbfc5026fb6a421f9b94"></script>
</body>
</html>
